@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root{
    /*Primary*/
    --Cyan: hsl(179, 62%, 43%);
    --Lightcyan: #4abebd;
    --BrightYellow: hsl(71, 73%, 54%);
    --BrightYellow2: hsl(70, 100%, 49%);
    --BrightYellow3: hsl(63, 100%, 49%);
    /*Neutral*/
    --LightGray: hsl(204, 43%, 93%);
    --GrayishBlue: hsl(218, 22%, 67%);
    --White: #fff;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}
body{
    background-color: var(--LightGray);

}
.main-container{
    width: 19.5rem;
    margin: 4.375rem auto;
    border-radius: .3125rem;
    overflow: hidden;
    background-color: var(--White);
}

.description{
    width: 16.875rem;
    margin: 0 1.25rem 2.0625rem 1.375rem;
    padding-top: 1.625rem;
    
}
.description-title{
    margin-bottom: 1.625rem;
    font-size: 1.25rem;
    color: var(--Cyan);
}
.description-subtitle{
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: var(--BrightYellow);
}
.description-paragraph{
    font-size: .875rem;
    line-height: 1.5625rem;
    color: var(--GrayishBlue);
}
.monthly-subscription{
    background: var(--Cyan);
    padding: 1.875rem 1.5rem 1.5rem;
}
.monthly-subscription-title{
    color: #fff;
    font-size: 1.125rem;
    letter-spacing: .01875rem;
    font-weight: 400;
    margin-top: -0.0625rem;
    margin-bottom: .9375rem;
}
.monthly-subscription-price{
    display: flex;
    color: var(--White);
    margin-bottom: .375rem;
}
.monthly-subscription-price-dollar{
    font-size: 2.0625rem;
    font-weight: 700;
    margin-right: .9375rem;
}
.monthly-subscription-price-text{
    align-self: center;
    color: #6fd8d3;
}
.monthly-subscription-description{
    color: #d0ffff;
    margin-bottom: 1.5625rem;
}
.monthly-subscription-button{
    width: 100%;
    height: 3.125rem;
    border-radius: .3125rem;
    font-weight: 700;
    color: var(--White);
    text-align: center;
    border: none;
    background: var(--BrightYellow);
}
.monthly-subscription-button:hover{
    cursor: pointer;
    background: var(--BrightYellow2);
}
.monthly-subscription-button:active{
    background: var(--BrightYellow3);
    color: var(--GrayishBlue);
}
.why-us{
    color: var(--White);
    background: var(--Lightcyan);
    padding: 1.4375rem 0 1.25rem 1rem;
}
.why-us-title{
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    font-weight: 400;
}
.why-us-description{
    color:#a9eff3;
    text-align: left;
    letter-spacing: -.01875rem;
    line-height: 1.25rem;
}
.tip{
    list-style-type: none;
    font-size: .8125rem;
}
.attribution {
    margin-top: -5rem;
    font-size: .6875rem; 
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
@media (min-width:680px){
    .main-container{
        width: 39.75rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10rem auto 6.25rem;
    }
    .description{
        width: 100%;
        height: 13.5rem;
        grid-column: 1 / 3;
        padding: 2.8125rem 4.625rem 2.5rem  2.375rem;
        margin: 0;
    }
    .description-title{
        font-size: 1.5625rem;
        margin-top: -.3125rem;
        margin-bottom: 1.25rem;
    }
    .description-subtitle{
        font-size: 1.125rem;
        margin-bottom: .875rem;
    }
    .description-paragraph{
        width: 31.6875rem;
        font-weight: 400;
        font-size: .9375rem;
    }
    .monthly-subscription{
        height: 16.25rem;
        padding: 2.625rem 2.375rem 1.875rem;
    }
    .monthly-subscription-description{
        margin-bottom: 1.9375rem;
    }
    .why-us{
        height: 16.25rem;
        padding: 2.625rem 0 2.375rem 2.5rem;
    }
    .attribution{
        font-size: .875rem;
    }

}